.footer {
    position: relative;
    color: #fff;
    background-image: url('../../../public/FooterBG.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: var(--inter-font);
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    p {
        color: #FFF;
        font-family: var(--inter-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 157.023%;
        width: 60%;
        margin-top: 8px;
    }
}

.inputWrapper {
    width: 100%;
    height: 65px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 110px;
}

.inputContainer {
    justify-content: space-between;
    background-color: white;
    width: 50%;
    display: flex;
    height: 100%;
    border-radius: 8px;

    input {
        border: none;
        outline: none;
        color: #0e0e0e;
        width: 70%;
        padding: 6px;
        padding-left: 16px;
        color: #1f1e1e;
        font-family: var(--inter-font);
        font-weight: 500;
        border-radius: 8px;

        &:focus {
            border: solid 2px #07e4ec;
            border-right-width: 0;
            width: 80%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.emailButton{
    background-color: #242424;
    height: 100%;
    outline: none;
    color: white;
    font-family: var(--inter-font);
    text-align: center;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
}

.titleContainer {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;

    h1 {
        font-family: var(--raxon-font);
        color: #07e4ec;
        font-size: 72px;
        letter-spacing: 16px;
    }
}


.imagineItText {
    margin-bottom: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 157.023%;
    letter-spacing: 29.52px;
    transform: scaleX(-1);
    margin-top: 16px;
    width: 100%
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    width: 65%;
    border-top: solid 2px white;
    font-family: var(--inter-font);
    padding: 8px;
}