.componentWrapper {
    width: 100%;
    min-height: 100vh;
    padding-top: 200px;
    padding-left: 120px;

    @media (max-width: 1441px) {
        padding-left: 64px;
    }
}

.titleContainer {
    background-color: #00878C;
    width: 340px;
    padding: 12px;
    text-align: center;
    border-radius: 24px;
    font-family: var(--inter-font);
    font-weight: 700;
    color: white;
    font-size: 20px;
}

.sectionDescription {
    font-family: var(--inter-font);
    font-size: 28px;
    width: 50%;
    margin-top: 24px;
    font-weight: 500;
    color: white;

    span {
        font-weight: 700;
        color: #07E4EC;
    }
}

.sectionCardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
    overflow-x: scroll;
    gap: 24px;
}

.sectionCardWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid #DE9531;
    background: linear-gradient(264deg, #B57626 0%, rgba(141, 91, 22, 0.00) 100%);
    backdrop-filter: blur(4px);
    padding: 66px 24px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    min-width: 400px;
    width: 400px;

    @media (max-width: 1441px) {
        min-width: 400px;
        width: 400px;
    }

    &:hover {
        border: 1px solid #fda934;
    }
}

.sectionCardWrapper:hover>.inner {
    // background: linear-gradient(264deg, #B57626 0%, rgba(141, 91, 22, 0.00) 100%);
    // backdrop-filter: blur(80px);
}

.inner {
    transition: all 300ms ease-in-out;
}

.blob {
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #b57726;
}

.fakeblob {
    display: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sectionCardLeft {
    width: 100%;
    font-family: var(--inter-font);
    color: white;

    h2 {
        font-size: 24px;
        font-weight: 700;
    }
}

.sectionCardDescription {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    font-family: var(--inter-font);
}

.sectionCardRight {
    width: 50%;
    display: flex;
    justify-content: center;
}